body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#wrapper {
  text-align: center;
}
#us3 {
  display: inline-block;
width:40%;
height:100px;

}